[Desktop Entry]
Type=Service
Encoding=UTF-8
Actions=SubgetDownload;
ServiceTypes=KonqPopupMenu/Plugin,video/*
#MimeType=all/all
X-KDE-StartupNotify=false
X-KDE-Priority=TopLevel

[Desktop Action SubgetDownload]
Exec=/usr/bin/subget.py %U
Icon=/usr/share/subget/icons/Subget-logo.png
Name=Download subtitles
Name[pl]=Pobierz napisy
Name[en]=Download subtitles
